html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	overflow-x: hidden;
	max-width: 100vw;
	font-family: $font-family-1;
	font-size: 1.6rem;
	color: color('global-black');
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: 600;
}

input:focus,
button:focus,
textarea:focus {
	outline: none;
}

textarea,
input,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}

input[type="submit"] {
	cursor: pointer;
}

a {
	@include setLinkColors(color('purple-electric-violet'), color('global-black'));
	@include setTransition(0.25, color);
	text-decoration: underline;
}

img {
	max-width: 100%;
}