@font-face {
	font-family: 'Sura';
	font-display: swap;
	src:url('https://fonts.googleapis.com/css2?family=Sura');
}

@font-face {
	font-family: 'Sura';
	font-display: swap;
	src:url('https://fonts.googleapis.com/css2?family=Sura:wght@700');
}